### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
 %config IPCompleter.greedy=True

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
print(school_data_complete.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_count = school_data_complete["school_name"].nunique()
student_count = school_data_complete["student_name"].count()
total_budget = school_data["budget"].sum()
math_average = school_data_complete["math_score"].mean()
reading_average = school_data_complete["reading_score"].mean()

# math_grades = student_data["math_score"].tolist()
# reading_grades = student_data["reading_score"].tolist()
math_pass = 0
reading_pass = 0
overall_pass = 0

# for i in math_grades:
#     if i >= 70:
#         math_pass += 1
        
# for j in reading_grades:       
#     if j >= 70:
#         reading_pass += 1
for index, row in student_data.iterrows():
    if row[6] >= 70:
        math_pass += 1
        
    if row[5] >= 70:
        reading_pass += 1
        
    if (row[6] >= 70 and row[5] >= 70):
        overall_pass += 1
    

reading_pass_percent = (reading_pass / student_count) * 100
math_pass_percent = (math_pass / student_count) * 100
overall_pass_percent = (overall_pass / student_count) * 100

district_summary = pd.DataFrame({'Total Schools': [school_count],'Total Students': [student_count],'Total Budget': [total_budget], 
                     'Average Math Score': [math_average],'Average Reading Score': [reading_average],
                     '% Passing Math': [math_pass_percent],'% Passing Reading': [reading_pass_percent],
                     '% Overall Passing': [overall_pass_percent]})


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
dframe = pd.DataFrame(school_data_complete)
sort_df = dframe.sort_values("school_name")
df = sort_df.reset_index(drop=True)
print(df.head())

unique = df['school_name'].unique()
schools_unique = df['school_name'].nunique()
# print(schools_unique)
school_types = [] 
total_students = [] 
total_budgets = []
per_stu_budgets = []
per_stu_budget = 0
school_type = ""
total_student = 0
total_budget = 0

math_score = 0
read_score = 0
avg_math_score = 0
avg_read_score = 0
avg_math_scores = []
avg_read_scores = []

math_pass = 0
reading_pass = 0
overall_pass = 0
math_pass_list = []
reading_pass_list = []
overall_pass_list = []
i = 0

# print(df['school_name'].value_counts())



for index, row in df.iterrows():
    if row[4] == unique[i]:
        school_type = row[8]
        total_student = row[9]
        total_budget = row[10]
        math_score += row[6]
        read_score += row[5]
        
        if row[6] >= 70:
            math_pass += 1

        if row[5] >= 70:
            reading_pass += 1

        if (row[6] >= 70 and row[5] >= 70):
            overall_pass += 1
        
    else:
        school_types.append(school_type)
        total_students.append(total_student)
        total_budgets.append(total_budget)
        avg_math_score = (math_score / total_student)
        avg_read_score = (read_score / total_student)
        per_stu_budget = total_budget/total_student
        per_stu_budgets.append(per_stu_budget)
        avg_math_scores.append(avg_math_score)
        avg_read_scores.append(avg_read_score)
        reading_pass_percent = (reading_pass / total_student)*100 
        math_pass_percent = (math_pass / total_student)*100
        overall_pass_percent = (overall_pass / total_student)*100
        math_pass_list.append(math_pass_percent)
        reading_pass_list.append(reading_pass_percent)
        overall_pass_list.append(overall_pass_percent)
        math_pass = 0
        reading_pass = 0
        overall_pass = 0
        math_score = 0
        read_score = 0
        i += 1
        
school_types.append(school_type)
total_students.append(total_student)
total_budgets.append(total_budget)
avg_math_score = (math_score / total_student)
avg_read_score = (read_score / total_student)
per_stu_budget = total_budget/total_student
per_stu_budgets.append(per_stu_budget)
avg_math_scores.append(avg_math_score)
avg_read_scores.append(avg_read_score)
reading_pass_percent = (reading_pass / total_student)*100 
math_pass_percent = (math_pass / total_student)*100
overall_pass_percent = (overall_pass / total_student)*100
math_pass_list.append(math_pass_percent)
reading_pass_list.append(reading_pass_percent)
overall_pass_list.append(overall_pass_percent)        
        
# print(unique)        
# print(len(school_types))
# print(len(total_students))
# print(total_budgets)
# print(per_stu_budgets)
# print(avg_math_scores)
# print(avg_read_scores)
# print(math_pass_list)
# print(reading_pass_list)
# print(overall_pass_list)

summary = pd.DataFrame({' ': unique,'School Type': school_types,'Total Students': total_students, 
                     'Total School Budget': total_budgets,'Per Student Budget': per_stu_budgets,
                     'Average Math Score': avg_math_scores,'Average Reading Score': avg_read_scores,
                     '% Passing Math': math_pass_list,'% Passing Reading': reading_pass_list,
                               '% Overall Passing': overall_pass_list})
    

school_summary = summary.set_index(' ')
school_summary

   Student ID      student_name gender grade         school_name  \
0       19584        Tammie Fox      F  11th  Bailey High School
1       21193   Jennifer Murray      F   9th  Bailey High School
2       21192       Lisa Pineda      F   9th  Bailey High School
3       21191    Cameron Miller      M  11th  Bailey High School
4       21190  Thomas Rasmussen      M  12th  Bailey High School

   reading_score  math_score  School ID      type  size   budget
0             82          92          7  District  4976  3124928
1             88          89          7  District  4976  3124928
2             86          67          7  District  4976  3124928
3             70          75          7  District  4976  3124928
4             77          82          7  District  4976  3124928

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.025296,83.933800,94.133477,96.986006,91.334769
Figueroa High School,District,2949,1884411,639.0,76.687352,81.132248,65.954561,80.705324,53.170566
Ford High School,District,2739,1763916,644.0,77.082512,80.713034,68.309602,79.262505,54.289887
Griffin High School,Charter,1468,917500,625.0,83.294959,83.764986,93.324251,97.070845,90.531335
Hernandez High School,District,4635,3022020,652.0,77.272708,80.914995,66.731392,80.841424,53.505933
Holden High School,Charter,427,248087,581.0,83.632319,83.611241,92.271663,96.018735,88.992974
Huang High School,District,2917,1910635,655.0,76.602331,81.160096,65.649640,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.057761,80.947910,66.036547,81.201428,53.518168
Pena High School,Charter,962,585858,609.0,83.751559,83.959459,94.490644,95.841996,90.436590
Rodriguez High School,District,3999,2547363,637.0,76.823706,80.722681,66.341585,80.195049,52.963241
Shelton High School,Charter,1761,1056600,600.0,83.305508,83.685406,93.810335,95.797842,89.835321
Thomas High School,Charter,1635,1043130,638.0,83.359021,83.798165,93.211009,97.247706,90.886850
Wilson High School,Charter,2283,1319574,578.0,83.238721,83.950066,93.823916,96.495839,90.538765
Wright High School,Charter,1800,1049400,583.0,83.640000,83.908333,93.277778,96.555556,90.277778

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [13]:
sort_school_summary = school_summary.sort_values('% Overall Passing',ascending = False)
sort_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.025296,83.933800,94.133477,96.986006,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.359021,83.798165,93.211009,97.247706,90.886850
Wilson High School,Charter,2283,1319574,578.0,83.238721,83.950066,93.823916,96.495839,90.538765
Griffin High School,Charter,1468,917500,625.0,83.294959,83.764986,93.324251,97.070845,90.531335
Pena High School,Charter,962,585858,609.0,83.751559,83.959459,94.490644,95.841996,90.436590

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [15]:
re_sort_school_summary = school_summary.sort_values('% Overall Passing')
re_sort_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.823706,80.722681,66.341585,80.195049,52.963241
Figueroa High School,District,2949,1884411,639.0,76.687352,81.132248,65.954561,80.705324,53.170566
Hernandez High School,District,4635,3022020,652.0,77.272708,80.914995,66.731392,80.841424,53.505933
Huang High School,District,2917,1910635,655.0,76.602331,81.160096,65.649640,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.057761,80.947910,66.036547,81.201428,53.518168

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type